body {
    font-family: Arial, sans-serif;
}

#single {
    max-width: 800px;
    margin: 0 auto;
    border: solid #1b1c1f;
    padding: 20px;
}

#game-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    text-shadow: 0 0 10px #2efeff;
    text-align: center;
}

#game-information {
    width: 60%;
    display: inline-block;
}

.game-score {
    width: 40%;
    display: inline-block;
}

.desc-trailer {
    text-align: center;
    margin-top: 20px;
}

.desc-trailer iframe {
    display: block;
    margin: 0 auto;
    border: 2px solid #2efeff;
    border-radius: 5px;
    box-shadow: 0 0 10px #2efeff;
}

#login-link {
    color: #fc0000;
}

#login-link:hover {
    color: #2efeff;
}

pre {
    white-space: pre-wrap;
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.average-rating {
    margin-top: 2rem;
    text-align: center;
    font-size: 28px;
}

.rating-stars {
    display: inline-block;
    font-size: 28px;
    color: #ddd;
    cursor: pointer;
}

.rating-star {
    display: inline-block;
}

.rating-star::before {
    content: "\2605";
}

.rating-star.filled {
    color: #ffc107;
}

h5 {
    text-align: center;
}

.info {
    text-align: center;
}

/* Mobile Styles */

@media only screen and (max-width: 600px) {
    #single {
        padding: 10px;
    }

    #game-information,
    .game-score {
        width: 100%;
        display: block;
    }

    .desc-trailer iframe {
        width: 100%;
    }

    pre {
        font-size: 1rem;
    }

    .average-rating {
        font-size: 20px;
    }

    .rating-stars {
        font-size: 20px;
    }

    #game-image {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    }
}
