body {
    font-family: Arial, sans-serif;
}

.table-container {
    margin: 0 auto;
    max-width: 800px;
    border: solid;
    border-color: #1b1c1f;
}

#page-info {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin-top: 0rem;
    text-shadow: 0 0 10px #2efeff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    font-size: 24px;
}

td {
    font-size: 18px;
}

.game-image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
  th {
    font-size: 18px;
  }

  td {
    font-size: 14px;
  }
}

.game-row:hover {
    background-color: #1b1c1f;
}

.game-row .game-image {
    width: 30%;
}

.game-row .game-name {
    width: 50%;
}

.game-row .game-rating {
    width: 20%;
}

#pre-description {
    margin: 0 auto;
    max-width: 800px;
    text-align:center;
    font-size: 17px;
    text-shadow: 0 0 10px #2efeff;
    padding: 30px;
}
