* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* List Styles */

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
}

li {
    width: calc(33.33% - 20px);
    background-color: rgba(0, 0, 0, 0.2);
    border: solid;
    border-color: #1b1c1f;
    margin-bottom: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    border-radius: 2%;
    padding: 20px;
}

li:hover {
    transform: translateY(-5px);
}

li img {
    max-width: 100%;
    height: auto;
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

li div {
    padding: 0px;
}

li h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
}

li h3:hover {
    color: #2efeff;
}

li h3 a {
    color: #222;
    text-decoration: none;
}

li h3 a:hover {
    text-decoration: underline;
}

li h6 {
    font-size: 0.8em;
    color: #777;
    margin-bottom: 10px;
}

li p {
    font-size: 1em;
    color: #555;
    line-height: 1.5em;
}

/* Responsive Styles */

@media (max-width: 992px) {
    li {
        width: calc(50% - 20px);
    }

    ul {
        margin: 0px auto;
        padding: 0px;
    }

    li div {
    padding: 20px;
    }
}

@media (max-width: 768px) {
    li {
        width: 100%;
    }

    ul {
        margin: 0px auto;
        padding: 0px;
    }

    li div {
    padding: 20px;
    }
}

/* Pagination Styles */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 2rem;
}

.pagination a,
.pagination span {
    font-size: 1.2em;
    color: #2efeff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.pagination a:hover {
    background-color: #2efeff;
    color: #222;
}

.pagination .current-page {
    background-color: #2efeff;
    color: #222;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination span:not(.current-page) {
    color: #777;
}
