body {
    font-family: Arial, sans-serif;
}

#single {
    max-width: 800px;
    margin: 0 auto;
    border: solid #1b1c1f;
    padding: 20px;
    min-height: calc(100vh - 70px); /* 70px - height of footer */
}

#game-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    text-shadow: 0 0 10px #2efeff;
    text-align: center;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

a {
    text-decoration: none;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #2efeff;
    transition: opacity 0.3s ease;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

li:hover {
    transform: scale(1.1);
}

li:hover h3 {
    color: #2efeff;
}

li:hover img {
    opacity: 0.8;
}

pre {
    padding: 3rem;
    white-space: pre-wrap;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    word-wrap: break-word;
}

/* Mobile Styles */

@media only screen and (max-width: 600px) {
    #single {
        padding: 10px;
    }

    #game-name {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    ul {
        margin: 1rem;
    }

    li {
        margin: 0.5rem;
    }

    img {
        width: 80px;
        height: 80px;
    }

    h3 {
        font-size: 14px;
        margin-top: 5px;
    }
}
