{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'images/logo.ico' %}">
    {% block css_files %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
<section id="welcome">
</section>
    <header id="main-navigation">
        <h1 id="logo">
            <a id="site-title" href="{% url 'starting-page' %}">GamesAtlasUA</a>
        </h1>
<!--    <nav>-->
<!--        <button id="ukr-btn" class="base-button">УКР</button><button id="eng-btn" class="base-button">ENG</button>-->
<!--    </nav>-->
    <nav>
        <a class="base-a" href="{% url 'top-games' %}">Топ найкращих ігор</a>
    </nav>

    <nav>
        <a class="base-a" href="{% url 'future-releases' %}">Майбутні релізи</a>
    </nav>

    <nav>
        <a class="base-a" href="{% url 'price-comparison-page' %}">Порівняти ціни</a>
    </nav>

    {% if user.is_authenticated %}
        <nav>
            <a class="base-a" href="{% url 'profile' %}">Ваш Профіль</a><a class="base-a" href="{% url 'logout' %}">Вихід</a>
        </nav>
    {% else %}
        <nav>
            <a class="base-a" href="{% url 'signup' %}">Реєстрація</a><a class="base-a" href="{% url 'login' %}">Вхід</a>
        </nav>
    {% endif %}
</header>

{% block content %}

{% endblock %}

<footer>
    <div class="footer-container">
        <div class="footer-item"><address><a href="mailto:gamesatlasua@gmail.com">gamesatlasua@gmail.com</a></address></div>
        <div id="site-desc" class="footer-item">Ласкаво просимо до GamesAtlasUA - вашого найкращого джерела ігрової інформації! Наш сайт пропонує найсвіжіші ігрові новини, рейтинги найкращих ігор, де ви можете самостійно оцінити свої улюблені творіння, а також відстежувати список майбутніх ігрових релізів. Але це ще не все! Ми також надаємо можливість порівняти ціни на ігри в різних магазинах, щоб ви могли знайти найвигіднішу пропозицію. Знайдіть свій наступний улюблений тайтл за допомогою GamesAtlasUA - ваш надійний провідник у світі ігор!</div>
        <div class="footer-item"><a href="https://github.com/yourusername">GitHub</a></div>
    </div>
</footer>
</body>
</html>
